<!DOCTYPE html>
<html lang="en" ng-app="surveyApp">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Survey Application</title>


    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link href="style/scrolling-nav.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="style/styles.css">


    <link href="https://fonts.googleapis.com/css?family=Junge" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
    body{
      background-color:"darkblue";
      font: #018F00;

    }



    </style>
  </head>


  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#/">Survey</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#/takeSurvey">Start Survey</a>
            </li>
            <li class="nav-item" ng-if="loggedIn">
              <a class="nav-link js-scroll-trigger" href="#/survey/viewAll">Manage Survey</a>
            </li>
            <li class="nav-item" ng-if="loggedIn">
              <a class="nav-link js-scroll-trigger" href="#/create">Create Survey</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main page header-->
    <header class="text-white" id="background">
      <div class="container text-center">
        <div id="page-heading">Survey Application</div>
        <hr>
      </div>
    </header>


    <div>
      <div ng-view></div>
    </div>



    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js" ></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js" ></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js" ></script>

    <!-- Angularjs library-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <!-- Angular Route-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.js"></script>

    <script type="text/javascript" src="angular/app.js" ></script>

    <!-- service -->
    <script type="text/javascript" src="angular/services/xService.js" ></script>

    <!-- Directive -->
    <script type="text/javascript" src="angular/directives/loginDirective.js" ></script>

    <!-- controllers -->
    <script type="text/javascript" src="angular/controllers/mainController.js"></script>
    <script type="text/javascript" src="angular/controllers/the-Survey-Controller.js"></script>
    <script type="text/javascript" src="angular/controllers/create-Survey-Controller.js"></script>
    <script type="text/javascript" src="angular/controllers/editController.js"></script>
    <script type="text/javascript" src="angular/controllers/singleSurveyController.js"></script>
    <script type="text/javascript" src="angular/controllers/pollSingleSurveyController.js"></script>
    <script type="text/javascript" src="angular/controllers/QuestionController.js"></script>

    <!-- route -->
    <script type="text/javascript" src="angular/route.js"></script>


  </body>

</html>
