a  {
	color: blue ;
	text-decoration: none ;
}

#background{

	background-image: url('../images/background4.jpg');
	background-size: cover ;
	background-repeat: no-repeat;
}
button, nav {
	min-width:48px !important;
	min-height : 48px !important;
}

.card:hover{

	box-shadow: 5px 5px 5px 3px black ;
	transform: scale(1.02,1.02);
}

.card , .card-survey , .card-poll {

	padding: 15px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.card ,.card-survey{

	box-shadow: 2px 2px 8px 5px #444 ;
	background-color: #D6D8E4 ;
}

.card-poll{
	background-color: #1C80BE ;
	box-shadow: 5px 5px 10px 2px black ;
}

.card-poll:hover{

	box-shadow: 2px 2px 5px 5px #555555 inset ;
	color : black ;
}

div > a:hover , a:active {

	font-weight: 700 ;
	text-decoration: none ;
}


.card-survey , .card-poll{

	margin-bottom: 50px ;
}

section{

	height: auto !important;
	padding-top: 60px !important;
	padding-bottom:  60px !important;
}

.subtitle{

	font-weight: 400;
	font-size: 1.07em;
}

.heading{
	font-size: 1.35em;
	font-weight: 700 ;
}

.instructions{

	font-style: italic;
}

.poll-pad{

	padding-top: 25px;
	padding-bottom: 25px;
}

.all-survey-head{

	font-family: 'Junge', serif;
	font-size: 1.6em;
	font-weight: 700 ;
}

#page-heading{

	font-family: 'Roboto', sans-serif;
	font-weight: 700 ;
	font-size: 3em;
	color : black ;
}

small{

	color : black ;
	font-weight: 700;
}

#start {

	background-image : url('../images/background3.jpg');
	background-size: cover ;
}

.body-color{

	background-image: url('../images/background2.jpg');
	background-size: cover ;
}

#page-heading + hr{

	width: 10%;
	border-width: 2px;
	border-color: black ;
}

[ng-view]{

	margin-top: 30px;
	margin-bottom: 30px;
}

.btn:hover {
	cursor : pointer ;
}

.title-poll{

	font-size: 1.5em;
	font-weight: 700 ;
}

.btn{
	margin-bottom: 5px ;
	padding: 10px;
}

.playx{

	border : 1px solid grey ;
	box-shadow: 1px 1px 5px 2px #1D4C60 ;
	line-height: 48px ;
}

.playx > a{
	color: white !important;
}

.playx:hover {

	text-shadow: 1px 2px brown;
	cursor: pointer ;
	box-shadow: 2px 2px 5px black inset ;
}


@media screen and (min-width: 576px) and (max-width : 767px) , screen and (max-width : 300px) {

	.tiles{
		font-size : 0.8em;
		width: 115%;
	}
}

@media screen and (max-width: 260px){

	.tiles{
		font-size : 0.7em;
		width: 130%;
	}
}


@media screen and (min-width : 401px) and (max-width: 767px) {

	#page-heading{
		font-size: 2.4em ;
		font-weight: 700 ;
	}
}

@media screen and (min-width : 451px) and (max-width : 767px){

	h2{

		font-size: 1.75em;
	}

	.lead{
		font-size: 1.15em;
	}
}

@media screen and (max-width : 575px){

	#single-survey-card{

		margin-left: 15px ;
		margin-right: 15px ;
	}
}

