<div class="container" ng-if="loggedIn">
	<form ng-submit="createSurvey.create();">
		<div class="form-group col-sm-10 col-md-6">
			<label for="surveyTitle"></label>
			<input type="text" name="surveyTitle" id="surveyTitle"
						class="form-control" autofocus="autofocus"
						required="required" placeholder="Enter Survey Title"
						ng-model="createSurvey.title" style="border-color: black;">
		</div>
		<div class="form-group col-sm-10 col-md-6">
			<label for="surveySubtitle"></label>
			<input type="text" name="surveySubtitle" id="surveySubtitle"
					 class="form-control" required="required" placeholder=" Survey Subtitle"
					 ng-model="createSurvey.subtitle" style="border-color: darkblue;">
		</div>
		<div class="form-group col-sm-10 col-md-6">
			<label for="description"></label>
			<textarea class="form-control" required="required" rows="5" placeholder=" instruction for the survey"
								id="description" ng-model="createSurvey.instructions" style="border-color: darlblue;">
			</textarea>
		</div>
		<button type="submit" class="btn btn-sucess" style="margin-left: 25px;"> save </button>
	</form>

	<div style="float: left;">
		<button ng-click="createSurvey.goBack()" class="btn btn-info"> &#9754;Back </button>
	</div>

	<br><br>
</div>

<x-directive></x-directive>
