<div class="container poll-pad">
	<div class="row">
		<div class="col-sm-12">

			<p class="text-center title-poll">{{ pollSurvey.singleSurvey.surveyTitle }}</p>
			<p class="subtitle" >{{ pollSurvey.singleSurvey.surveySubtitle }}</p>
			<p class="instructions">
				<strong>Instructions :</strong> {{ pollSurvey.singleSurvey.instructions }}
			</p>
			<br>
			<div ng-if="!pollSurvey.hideStartButton && pollSurvey.questionData.length">
				<input type="button" name="Start-survey" class="btn btn-info" value="Start survey" ng-click="pollSurvey.startSurvey()">
			</div>

			<p ng-if="pollSurvey.question && pollSurvey.showSurvey" class="questions">
				<strong>Q. {{pollSurvey.question.questionText  }} </strong>
			</p>

			<div ng-if="pollSurvey.question" class="options">
				<form >
					<div ng-repeat=" option in pollSurvey.question.questionOptions track by $index" ng-init="id=$index">
						<label ng-if="option">
							<input type="radio" name="options" value="{{id}}"
									ng-model="pollSurvey.answer"
									ng-change="pollSurvey.changeDisableValue();">
							<span> {{option  }}</span>
						</label>
					</div>
					<br>
					<input type="button" name="next" class="btn btn-primary" ng-value="pollSurvey.buttonValue"
								ng-click="pollSurvey.loadNextQuestion(pollSurvey.question.questionId);"
								ng-disabled="pollSurvey.disableValue">
					<input type="button" name="skip" class="btn btn-primary" value="Skip"
								ng-click="pollSurvey.skipQuestion(pollSurvey.question.questionId);">
				</form>
			</div>


			<p ng-if="!pollSurvey.question && pollSurvey.questionData.length && pollSurvey.showSurvey" class="text-center lead">
				Thanks for taking part in survey!
			</p>

			<p ng-if="!pollSurvey.questionData.length" class="text-center lead">
				This survey is under maintaince!
			</p>

			<br>
			<div >
				<a href="#/takeSurvey" class="btn btn-info">&#x261A;Back</a>
			</div>

		</div>
	</div>


</div>
